html {
    direction: rtl;
}

.title>li {
    background-color: aliceblue;
    display: inline-block;
    border-style: groove;
    padding: 5px 10px;
    margin: 6px;
}



.titlebar {
    display: flex;
    justify-content: space-around;
}

.search {}

#gsearch {
    padding: 5px 50px;
    margin: 25px 5px;
}

#search {
    padding: 2px 5px;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    background-color: gainsboro;
}

.content {
    background-color: turquoise;
    margin: 30px;
    display: flex;
    justify-content: space-evenly;
    padding: 8px 30px;
    margin: 50px 100px;

}

#mosh {
    padding: 30px;
}

#takhfif {
    margin: 2px;
    display: flex;
}

.mobile {
    display: flex;
}

#takhfif {
    margin: 20px 170px;
}

#f {
    margin: 36px 80px;
}

#ff {
    margin: 40px 13px;
    display: block;
}

#hard {
    list-style-type: square;
}

#c {
    list-style-type: circle;
}


#a {
    color: red;
    font-size: 27px;

}

#b {
    font-size: 45px;
}

#c {
    color: darkgray;
}

#d {
    color: darkgray;
}

#e {
    margin: 10px;
    color: darkslategray;
    font-size: 30px;
}

#f {
    font-size: 40px;
    margin: 6px;
}

#camera {
    background-color: red;

    font-size: 20px;
    display: flex;
    justify-content: space-around;
}

.camera {
    background-color: whitesmoke;

}

.camer {
    display: flex;
    justify-content: space-between;
}

.sl {
    background-color: aliceblue;
    display: flex;
    justify-content: space-evenly;
}

.card {
    border-style: dotted;
}

.end {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.myimage:hover {
    border-radius: 50%;
}

.myimage {
    transition: 0.6s;
}

.jamshid:hover span {
    display: block;

}

.dropdown {
    display: flex;
    justify-content: right;
    background-color: silver;


}



.dropdown>.dropdown-item>.dropdown-toggler~ul {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    margin: 0;

}

.dropdown>.dropdown-item:hover>ul {
    display: block;
}

.dropdown-toggler {
    margin: 10px 14px;
    color: black;

    text-decoration: none;

}

.sub-menu>li:hover {
    background-color: aquamarine;
    display: block;
}

.sub-menu {
    padding: 0;
    font-size: 25px;
}

#my-pi {
    display: none;
}

#My_pic {
    display: none;

}

.tab>.tab-tabs {
    display: flex;
    justify-content: space-between;
}

.tab-item:hover {
    color: chocolate;
}


.slider-navigation {
    position: absolute;
}

.m-slider {
    position: relative;
    width: 82%;
    margin: 0 auto;
}

.m-slider>.navigations {
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;

}
.m-slider> .navigations>.arrows{
    display: flex;
    justify-content: space-between;

}

.m-slider>.m-slides {

    white-space: nowrap;
    overflow: auto;
    scroll-behavior: smooth;
    

}

.m-slider>.m-slides>.slider-slide {
    display: inline-block;
    margin: 20px;
}